*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#clockContainer{
    margin:90px auto;
    width: 400px;
    height: 400px;
    background-image: url('clock.png');
    background-position:center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

#hour,#minute,#second{
    background-color: black;
    position: absolute;
    border-radius: 12px;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 30%;
    left: 49.4%;
    top: 20%;
}
#minute{
    width: 1.2%;
    height: 34%;
    left: 49.4%;
    top: 17%;
}
#second{
    width: 0.5%;
    height: 40%;
    left: 49.5%;
    top: 11%;
}